:root{
  font-size: 62.5%; /*1rem = 10px*/
}
body{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
